img.LogoWlcm{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;	
    left: 3px;
	

}

h1.titleWlcm{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	color: rgb(5, 3, 3);
}
section.wlcm{
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
	
}

.buttonRegister{
	height: var(--button-height);
          width: var(--button-width);
          margin-top: 6px;
          border-radius: var(--border-radius-text-field-and-button);
	font-size: var(--tamaño-letra);
	background-color: rgb(148, 187, 238);
	font-size: var(--size-letters-button);
          color: black;
	text-decoration: none;

}
.buttonRegister:hover {
	background-color: #edcb22;
	color: white;
     }

.buttonLogin{
	height: var(--button-height);
          width: var(--button-width);
          margin-top: 6px;
          border-radius: var(--border-radius-text-field-and-button);
	font-size: var(--tamaño-letra);
	background-color:rgb(148, 187, 238);
	font-size: var(--size-letters-button);
          color: black;
	text-decoration: none;
}

.buttonLogin:hover {
	background-color: #edcb22;
	color: white;
     }

a{
	text-decoration: none;
	color: black;
}


/* *{
    background-image: url(IMG/Montanas-Rocosas-En-Canada-Lago-Louise-Y-Banff-f94e70f.webp);
    margin: 0;
    padding: 0;
    box-sizing: 0;
 } 

 .sectionWelcome{

	height: 100vmax;
	width: 100%;
	opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
}
/* :root{
    --button-height:35px;
    --button-width:35%;
    --text-field-height:35px;
    --text-field-width:60%;
    --color-button:blue;
    --color-letters:white;
    --border-radius-text-field-and-button:20px;
    --size-letters-text-field:15px; 
    --size-letters-button:15px;
  } */
/* 

  .buttonLogin {
    background: beige;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonRegister {
    background-color: rgb(243, 239, 239);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.a {
    background-color: rgb(243, 239, 239);
    font-size: 18px;
    
}


@media (min-width: 760px) {

}

@media (min-width: 1020px){} */ */